nav.d-flex {
    > a {
        text-decoration: none;
        font-family: monospace;
        color: black;
        padding: 1rem;
        transition: transform 0.3s;
    }
    > a:hover {
        transform: scale(1.3);
    }
}
