/* Facebook spinner */
.fb-spinner {
    font-size: 0;
}
.fb-spinner > div {
    display: inline-block;
    font-size: medium;
    margin: 0 2px;
    width: 0.5em;
    height: 1.5em;
    background: darkviolet;
    animation: fb-spinner 1s linear infinite;
    border-radius: 5%;
}
.fb-spinner > div:nth-child(1) {
    animation-delay: -0.2s;
}
.fb-spinner > div:nth-child(2) {
    animation-delay: -0.1s;
}
@keyframes fb-spinner {
    0%, 30% {
        transform: scaleY(1.0);
    }
    15% {
        transform: scaleY(1.5);
    }
}

/* Light spinner */
.snake-spinner {
    font-size: 0;
}
.snake-spinner > div {
    display: inline-block;
    font-size: medium;
    width: 1em; height: 1em;
    background: white;
    animation: snake-spinner 1.5s linear infinite;
}
.snake-spinner > div:nth-child(2) {
    animation-delay: 0.1s;
}
.snake-spinner > div:nth-child(3) {
    animation-delay: 0.2s;
}
.snake-spinner > div:nth-child(4) {
    animation-delay: 0.3s;
}
.snake-spinner > div:nth-child(5) {
    animation-delay: 0.4s;
}
.snake-spinner > div:nth-child(6) {
    animation-delay: 0.5s;
}
.snake-spinner > div:nth-child(7) {
    animation-delay: 0.6s;
}
.snake-spinner > div:nth-child(8) {
    animation-delay: 0.7s;
}
.snake-spinner > div:nth-child(9) {
    animation-delay: 0.8s;
}
.snake-spinner > div:nth-child(10) {
    animation-delay: 0.9s;
}
@keyframes snake-spinner {
    0% {
        background: darkviolet;
        transform: scale(1.0);
    }
    30%, 100% {
        background: white;
        transform: scale(0.75);
    }
}

/* Circle spinner */
.circle-spinner {
    position: relative;
    width: 5em; height: 5em;
}
.circle-spinner > div {
    position: absolute;
    top: 50%; left: 50%;
    width: 1em; height: 1em;
    background: transparent;
    border-radius: 50%;
    animation: circle-spinner 0.8s infinite linear;
}
.circle-spinner > div:nth-child(1) {
    transform: translate(-50%, -50%) rotate(0deg) translate(2em);
    animation-delay: 0.1s;
}
.circle-spinner > div:nth-child(2) {
    transform: translate(-50%, -50%) rotate(45deg) translate(2em);
    animation-delay: 0.2s;
}
.circle-spinner > div:nth-child(3) {
    transform: translate(-50%, -50%) rotate(90deg) translate(2em);
    animation-delay: 0.3s;
}
.circle-spinner > div:nth-child(4) {
    transform: translate(-50%, -50%) rotate(135deg) translate(2em);
    animation-delay: 0.4s;
}
.circle-spinner > div:nth-child(5) {
    transform: translate(-50%, -50%) rotate(180deg) translate(2em);
    animation-delay: 0.5s;
}
.circle-spinner > div:nth-child(6) {
    transform: translate(-50%, -50%) rotate(225deg) translate(2em);
    animation-delay: 0.6s;
}
.circle-spinner > div:nth-child(7) {
    transform: translate(-50%, -50%) rotate(270deg) translate(2em);
    animation-delay: 0.7s;
}
.circle-spinner > div:nth-child(8) {
    transform: translate(-50%, -50%) rotate(315deg) translate(2em);
    animation-delay: 0.8s;
}
@keyframes circle-spinner {
    0% {
        background: darkviolet;
    }
    50%, 100% {
        background: white;
    }
}

/* Facebook post loader */
.fb-post-loader > div {
    width: 10em; height: 0.3em;
    background: linear-gradient(to right, transparent 10%, #ddd 30%, transparent 50%);
    background-size: 200% 100%;
    margin-bottom: 3px;
    animation: fb-post-loader 1s infinite;
}
@keyframes fb-post-loader {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: -100% 0%;
    }
}
.fb-post-loader > div:nth-child(2) {
    animation-delay: 0.1s;
}
.fb-post-loader > div:nth-child(3) {
    animation-delay: 0.2s;
}