.pb-basic,.pb-striped {
    width: 20em; height: 1em;
    background: #fff;
    border-radius: 5px;
    padding: 2px;
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
}
.pb-basic > div {
    width: 0%; height: 100%;
    border-radius: 3px;
    background: darkviolet;
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
}

.pb-striped > div {
    width: 30%; height: 100%;
    border-radius: 2px;
    background: linear-gradient(45deg, darkviolet 25%, violet 25%, violet 50%, darkviolet 50%, darkviolet 75%, violet 75%);
    background-size: 2em 2em;
    animation: pb-striped 1s linear infinite;
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.2);
}
@keyframes pb-striped {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2em 0;
    }
}