#log {
    background: lightblue;
    position: fixed;
    bottom: 0; right: 0;
    font-size: 0.8em;
    font-family: monospace;
}

.f-btn {
    display: inline-block;
    background: lightgray;
    padding: 10px;
    margin: 0.5em;
    border-radius: 1px;
}
.f-btn-content {
    width: 100%;
    height: 100%;
    padding: 3em 5em;
    box-sizing: border-box;
    background: lightgray;
    border-radius: inherit;
}