<app-header [items]="headerItems"></app-header>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div class="card">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aliquid debitis dolore eius odit deserunt illum aliquam tempora iure est odio cupiditate neque minima accusamus nemo, ab enim eos necessitatibus?</p>
</div>

<div class="card">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quo tempore in commodi dolor neque quod earum cum, similique magnam dolorem explicabo deleniti quos beatae porro voluptate assumenda rem. Laborum.</p>
</div>

<div class="card">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam amet nulla earum asperiores rerum, sunt blanditiis ducimus assumenda numquam, optio dicta placeat delectus necessitatibus saepe! Autem voluptates earum amet nihil.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero corporis dignissimos et magni distinctio! Eum nihil quidem ut. Dolore distinctio nobis voluptate! Veniam vitae aut saepe vel unde harum blanditiis.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, libero obcaecati velit quos nesciunt pariatur non deserunt aut ab sapiente iure laboriosam explicabo autem voluptatum dolor cumque accusantium repellat repudiandae.</p>
</div>

<div class="card">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel corporis fuga sunt ea praesentium eos assumenda incidunt! Repudiandae, adipisci, magni obcaecati, sequi perspiciatis labore voluptatibus consequatur sunt odio fugiat doloribus.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem temporibus soluta quis id ipsam eveniet ullam sunt quos, porro praesentium dolorum dolore aspernatur. Officiis vitae, facere perspiciatis quo laborum hic.</p>
</div>

<div class="card">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur magnam consectetur cumque esse vitae maxime quo nam ipsam accusantium deserunt dolorem vero, eaque tenetur, molestias voluptas? Dolores deleniti est sed.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est numquam, eos, tempore libero vel qui in, inventore totam perspiciatis molestias ad dicta fuga hic nisi culpa molestiae temporibus modi repudiandae.</p>
</div>