<div class="container">
    <div class="row no-gutters">
        <div class="col-12 col-sm-6" *ngFor="let post of posts">
            <div class="post d-flex flex-column">
                <div class="title">
                    {{post.title}}
                    <hr>
                </div>
                <div class="thumbnail d-flex justify-content-center align-items-center">
                    <img src="{{post.thumbnail}}" alt="Post thumbnail">
                </div>
                <div class="date mt-auto">
                    <hr>
                    Posted on: {{post.createdDate ? post.createdDate.toLocaleString() : ''}}
                </div>
            </div>
        </div>
    </div>
</div>

