.post {
    border: 1px solid black;
    margin: 0.5rem;
    background-color: #00000011;
    cursor: pointer;
    padding: 0.5rem;

    > .date {
        font-size: x-small;
    }
}

.post:hover {
    border-color: white;
}
